body {
	background-image: -moz-linear-gradient(#333, black);
	background-color: #333;
	text-shadow: 1px 1px black;
	color: #eee;
}

a {
	color: #eee;
}

a:hover {
	color: white;
}

#theme-selector li.current {
	border-color: #aaa;
}

#top-toolbar li {
	box-shadow: 0 0 1px rgba(255,255,255,0.75) inset;
}

#top-toolbar li.opened {
	box-shadow: 0 0 2px rgba(255,255,255,0.75) inset;
}

.site .toolbar {
	background-image: -moz-linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.5));
}

.site .snapshot {
	border-color: rgba(0,0,0,0.2);
}

.site:hover a .snapshot {
	border-color: rgba(0,0,0,0.5);
}

#todo-input:-moz-placeholder {
	color: #aaa;
}

#compact-switch,
#todo-switch {
	border-top-color: rgba(255,255,255,0.3);
}

#todo-panel.hide #todo-switch, 
#site-panel.compact #compact-switch {
	border-left-color: rgba(255,255,255,0.3);
}
