#margin-helper,
#margin-helper.compact-mode {
	min-width: 20px;
	max-width: 20px;
}

#site-helper,
#site-helper.compact-mode {
	max-width: 514px;
}

#site-helper.compact-mode {
	margin-bottom: 0px;
	margin-right: 10px;
}


