#bg {
	background-image: url("chrome://browser/skin/newtab/noise.png");
}

.site-snapshot.folder-snapshot,
.site-snapshot:not(.placeholder-snapshot) {
	border: 1px solid rgba(255,255,255,0.25);
}

.site-snapshot:hover:not(.placeholder-snapshot),
.site.opened > a > .site-snapshot {
	background-color: rgba(0,0,0,0.4);
	border: 1px solid rgba(255,255,255,0.4);
}


.button.refresh:hover {
	animation: rotate 500ms linear 500ms 1;
}

@keyframes rotate {
	100% { transform: rotate(360deg); }
}

#nbc-themes-pointer.opened,
#nbb-recently-closed.opened {
	background-color: orange;
}

