#bg {
	background-image: url("chrome://browser/skin/newtab/noise.png");
}

.button.refresh:hover {
	animation: rotate 500ms linear 500ms 1;
}

@keyframes rotate {
	100% { transform: rotate(360deg); }
}

#nbc-themes-pointer.opened,
#nbb-recently-closed.opened {
	background-color: orange;
}

