body {
	background-color: white;
	color: #222;
}

a {
	color: #333;
	text-decoration: none;
}

#theme-selector li.current {
	border-color: gray;
}

.site .toolbar {
	background: -moz-linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.3));
}

.site .snapshot {
	border-color: rgba(0,0,0,0.2);
}

.site:hover a .snapshot {
	border-color: rgba(0,0,0,0.3);
}

#todo-input:focus {
	box-shadow: 0 0 8px rgba(82, 168, 236, 0.5);
}

#todo-list {
	border-color: rgba(0,0,0,0.2);
}

.dragbox {
	border: 2px solid #ccc;
}

