body {
	background-image: -moz-linear-gradient(top right, #206000, #409000);
	background-color: #206000;
	text-shadow: 1px 1px rgba(0,0,0,0.8);
	color: rgba(255,255,255,0.9);
}

a {
	color: rgba(255,255,255,0.9);
}

#container {
	padding: 0;
}

#top-panel {
	background-color: rgba(255, 255, 255, 0.1);
	box-shadow: 0 0 10px #333;
}

#theme-selector li.current {
	border-color: #aea;
}

#top-toolbar li {
	background-color: transparent;
	box-shadow: none;
}

#top-toolbar li:hover {
	background-color: rgba(255,255,255,0.3);
}

#top-toolbar li.opened {
	background-color: rgba(128,255,0,0.3);
	box-shadow: 0 0 2px rgba(255,255,255,0.5) inset;
}

.site .toolbar {
	background: rgba(255,255,255,0.2);
}

.site:hover a .snapshot {
	border-color: rgba(255,255,255,0.2);
}

#todo-input:-moz-placeholder {
	color: #bcb;
}

#compact-switch, #todo-switch {
	border: none;
	background-image: url(arrow.png);
	width: 15px;
	height: 15px;
	top: 0;
	left: 0;
}

#site-panel.compact #compact-switch,
#todo-panel.hide #todo-switch {
	top: 0;
	border: none;
}

#site-panel.compact #compact-switch,
#todo-panel.hide #todo-switch {
	-moz-transform: rotate(-90deg);
}

