.site.folder.opened > a > .folder-snapshot.site-snapshot,
.site.folder.closing > a > .folder-snapshot.site-snapshot {
	box-shadow: 1px 1px 3px rgba(0,0,0,0.5);
}

.folder-snapshot.site-snapshot {
	background-color: transparent;
	box-shadow: 3px 3px 5px rgba(0,0,0,0.5);
}

.site-snapshot {
	border: 1px solid #aaa;
}

/** notes **/
#notes-list {
    background: linear-gradient(#ffa, #ffc);
    border-bottom-right-radius: 36px 12px;
    min-height: 30px;
    box-shadow: none !important;
    margin: 1em 0 0 -2px;
    position: relative;
}

#notes-list:after {
    bottom: 18px;
    box-shadow: 13px 18px 6px rgba(0, 0, 0, 0.3);
    content: "";
    height: 30px;
    position: absolute;
    right: 18px;
    transform: rotate(3deg) skew(8deg);
    width: 80%;
    z-index: -1;
}

li.note {
	padding: 2px 20px 5px 10px;
}

#notes-list > li.note { /* to make sure it won't be overwritten by the 'customization' */
	color: #333;
	text-shadow: none;
}

#notes-list > li.note:hover { /* to make sure it won't be overwritten by the 'customization' */
	color: black;
}
