body {
	font-family: "Helvetica Neue", Helvetica, Arial, "Liberation Sans", FreeSans, sans-serif;
	background-attachment: fixed;
}

.hidden {
	display: none;
}


#container {
	/*min-width: 962px;*/
	/*text-align: center;*/
	/*-moz-user-select: -moz-none;*/
	position: relative;
}

#topbar {
	height: 128px;
	background-color: green;
}

#sites {
	position: relative;
	-moz-user-select: none;
	user-select: none;
}

.site {
	position: absolute;
}

.site.empty .background {
	height: 100%;
	border: 2px dashed rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	background: url(../images/site-add.png) center center no-repeat;
	cursor: pointer;
}


