body {
	font-family: "Helvetica Neue", Helvetica, Arial, "Liberation Sans", FreeSans, sans-serif;
	background-attachment: fixed;
}

.hidden {
	display: none;
}


#container {
	/*min-width: 962px;*/
	/*text-align: center;*/
	/*-moz-user-select: -moz-none;*/
	position: relative;
}

#topbar {
	height: 128px;
	background-color: green;
}

#sites {
	position: relative;
	-moz-user-select: none;
	user-select: none;
}

.site {
	position: absolute;
}

.site.empty .background {
	height: 100%;
	border: 2px dashed rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	background: url(../images/site-add.png) center center no-repeat;
	cursor: pointer;
}

.site a {
	display: block;
	height: 100%;
	width: 100%;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	border: 1px solid rgba(0,0,0,0.2);
	-moz-transition: border 200ms ease;
}

.site a:hover {
	border: 1px solid rgba(0,0,0,0.5);
}
/*
	border-bottom-right-radius: 24px 12px;
}

.site a:hover:after {
    -moz-transform: rotate(3deg) skew(8deg);
    bottom: 18px;
    box-shadow: 13px 18px 6px rgba(0, 0, 0, 0.3);
    content: "";
    height: 30px;
    position: absolute;
    right: 18px;
    width: 80%;
    z-index: -1;
}
*/

