body {
	font-family: "Helvetica Neue", Helvetica, Arial, "Liberation Sans", FreeSans, sans-serif;
	background-attachment: fixed;
}

a {
	text-decoration: none;
}

.hidden {
	display: none;
}


#container {
	/*min-width: 962px;*/
	/*text-align: center;*/
	/*-moz-user-select: -moz-none;*/
	position: relative;
}

#topbar {
	height: 128px;
	background-color: green;
}

#sites {
	position: relative;
	-moz-user-select: none;
	user-select: none;
}

.site {
	position: absolute;
}

.site.empty .background {
	height: 100%;
	border: 2px dashed rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	background: url(../images/site-add.png) center center no-repeat;
	cursor: pointer;
}

.site a {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.site .screenshot {
	background-repeat: no-repeat;
	background-size: 100% 100%;

	border: 1px solid rgba(0,0,0,0.2);
	-moz-transition-property: border, box-shadow;
	-moz-transition-duration: 200ms;
	-moz-transition-timing-function: ease;
}

.site a:hover .screenshot {
	border: 1px solid rgba(0,0,0,0.5);
	box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.site .title {
	position: relative;
	height: 1.6em;
	padding: .3em .5em;
	text-align: center;

	font-size: 12px;
	color: black;
	text-shadow: .5px .5px 1px rgba(255,255,255,0.5);
	-moz-transition: text-shadow 200ms linear;
	overflow: hidden;
	text-overflow: ellipsis;
}

.site a:hover .title {
	text-shadow: .5px .5px 1px white;
	text-decoration: underline;
}

.site .title span {
	line-height: 1.6em;
}

