@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@namespace html url("http://www.w3.org/1999/xhtml");

.link {
	color: blue;
	text-decoration: underline;
	cursor: pointer;
}

#navbar-item-wrapper,
#buttons-wrapper {
	margin-left: 2em;
}

#customize-bg-image-wrapper {
	position: relative;
	margin: 10px;
	width: 256px;
	height: 144px;
	overflow: hidden;
}

#customize-bg-image {
	position: absolute;
	-moz-transform: scale(0.2, 0.2);
	-moz-transform-origin: left top;
	transform: scale(0.2, 0.2);
	transform-origin: left top;
	width: 1280px;
	height: 720px;

	background-color: transparent;
	box-shadow: 2px 2px 2px black;
}
#customize-bg-image[disabled=true] {
	filter: url("filters.svg#gray-effect");
}

#customize-bg-image:not([disabled=true]):hover {
	-moz-transform: none;
	cursor: move;
}


