@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@namespace html url("http://www.w3.org/1999/xhtml");

.buttons-item-wrapper {
	margin-right: 2em;
}

.site-button-icon {
	width: 24px;
	height: 24px;
	background-color: black;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url(../images/toolbar.png);
	border-radius: 50%;
	margin: 2px;
	transform: scale(0.75);
}

.site-button-icon[disabled=true] {
	background-color: gray;
}

#icon-newtab {
	background-position: 0 0;
}

#icon-remove {
	background-position: -96px 0;
}

#icon-next-snapshot {
	background-position: -120px 0;
}

#icon-config {
	background-position: -72px 0;
}

#icon-refresh {
	background-position: -48px 0;
}

label.cstm-ctrl {
	padding-top: 3px;
	padding-bottom: 3px;
}

.link {
	color: blue;
	text-decoration: underline;
	cursor: pointer;
}

#navbar-item-wrapper,
#buttons-wrapper {
	margin-left: 2em;
}

#cstm-bg-image-wrapper {
	position: relative;
	margin: 10px;
	overflow: hidden;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

#cstm-bg-image {
	position: absolute;
	transform-origin: left top;
	background-color: transparent;
}
#cstm-bg-image[disabled=true] {
	filter: url("filters.svg#gray-effect");
}

#cstm-bg-image[src]:not([disabled=true]):hover {
	transform: none !important;
	cursor: move;
}

#cstm-bg-position {
	padding: .5em;
}
#cstm-bg-x-pos,
#cstm-bg-y-pos {
	min-width: 202px;
}

.bg-pos-value {
	min-width: 5em;
	text-align: right;
}

#my-love {
	margin: 10px;
}
#my-love:not(:hover) {
	filter: url("filters.svg#gray-effect");
}
