@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@namespace html url("http://www.w3.org/1999/xhtml");

label.cstm-ctrl {
	padding-top: 3px;
	padding-bottom: 3px;
}

.link {
	color: blue;
	text-decoration: underline;
	cursor: pointer;
}

#navbar-item-wrapper,
#buttons-wrapper {
	margin-left: 2em;
}

#cstm-bg-image-wrapper {
	position: relative;
	margin: 10px;
	width: 256px;
	height: 144px;
	overflow: hidden;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

#cstm-bg-image {
	position: absolute;
	-moz-transform: scale(0.2, 0.2);
	-moz-transform-origin: left top;
	transform: scale(0.2, 0.2);
	transform-origin: left top;
	width: 1280px;
	height: 720px;

	background-color: transparent;
}
#cstm-bg-image[disabled=true] {
	filter: url("filters.svg#gray-effect");
}

#cstm-bg-image[src]:not([disabled=true]):hover {
	-moz-transform: none;
	cursor: move;
}

#my-love {
	margin: 10px;
}
#my-love:not(:hover) {
	filter: url("filters.svg#gray-effect");
}
