#container
, .nbb
, .nbc
, #nb-search
, .site
, #folder
, .site-snapshot
, .button
, .site-title
, .image-preview
, #notes
, #note-edit {
	transition-duration: 250ms;
	/*
	transition-timing-function: linear;
	*/
}

.nbb, .nbc {
	transition-property: opacity;
}

#nb-search {
	transition-property: opacity, margin, width, height;
}

#container.notransition
, .nbb.notransition
, .nbc.notransition
, .site.notransition
, #folder.notransition
, .site-snapshot.notransition
, .button.notransition
, .site-title.notransition
, .image-preview.notransition
, #notes.notransition
, #note-edit.notransition {
	transition-property: none;
}

#container {
	transition-duration: 150ms;
	transition-property: top;
}

.site {
	/*transition-property: top, left, transform;*/
	transition-property: top, left, opacity, transform;
}

#folder {
	transition-duration: 150ms;
	transition-property: top, left, width, height;
}

.site-snapshot {
	transition-property: width, height, opacity, transform, background-color, border-color;
}

.button {
	transition-property: opacity;
}

.site-title {
	transition-property: color, opacity, text-shadow, background-color;
}

.image-perview {
	transition-property: top, left;
}

.site.dragging {
	transition: none !important;
}

#notes {
	transition-property: margin, opacity;
}

#note-edit {
	transition-property: height, opacity;
}

