body {
	background-image: -moz-linear-gradient(#338, black);
	background-color: #338;
	text-shadow: 1px 1px rgba(0,0,0,0.8);
	color: rgba(192,192,255,0.8);
}

a {
	color: rgba(192,192,255,0.8);
}

#theme-selector li.current {
	border-color: rgba(192,192,255,0.8);
}

#top-toolbar li {
	box-shadow: 0 0 1px rgba(255,255,255,0.75) inset;
}

#top-toolbar li:hover {
	background-color: rgba(212,212,255,0.3);
}

#top-toolbar li.opened {
	box-shadow: 0 0 2px rgba(255,255,255,0.75) inset;
}

.site .toolbar {
	background: -moz-linear-gradient(rgba(32,96,176,0.4), rgba(32,96,212,0.4));
}

.site .snapshot {
	border-color: rgba(32,96,176,0.4);
}

.site:hover a .snapshot {
	border-color: rgba(32,96,212,0.4);
}

#todo-input:-moz-placeholder {
	color: rgba(192,192,255,0.8);
}

#compact-switch,
#todo-switch {
	border-top-color: rgba(192,192,255,0.5);
}

#todo-panel.hide #todo-switch, 
#site-panel.compact #compact-switch {
	border-left-color: rgba(192,192,255,0.75);
}

